In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Python ##

In [ ]:
2 + 9

In [ ]:
2 * 4

In [ ]:
# The line below errors
# * 4

In [ ]:
2 ** 4

In [ ]:
# The line below errors 
# 2 * * 4

In [ ]:
2/9

In [ ]:
2 + 3 * 9

In [ ]:
(2 + 3) * 9

In [ ]:
-1 - 1 + 2 * (3 * 4 * 5 / 6) ** 3 + 7 + 8 + 11

In [ ]:
'hello'

In [ ]:
'Data 8'

## Names ##

In [ ]:
a = 2

In [ ]:
a

In [ ]:
# The line below causes a name error if b isn't assigned yet.
# b

In [ ]:
b = 3
a * b

In [ ]:
a

In [ ]:
b

In [ ]:
total = a + b
total

In [ ]:
a = 10
total

In [ ]:
total

In [ ]:
a

In [ ]:
total = a + b
total

In [ ]:
# The line below causes a syntax error
# a + b = total

In [ ]:
a = a + 1
a

### Why Names?

A cell with arithmetic but no names is difficult to interpret.

In [ ]:
# Option 1
40 * 15.50

In [ ]:
40 * 52 * 15.50

On January 1, 2024, the CA Minimum Wage for Employers with 26 Employees or More increased to $16/hour.

In [5]:
# Option 2
ca_hourly_minimum_wage = 16.00
hours_per_week = 40
weeks_per_year = 52

In [6]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

In [ ]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = weekly_wages * weeks_per_year
yearly_wages

## Functions and Call Expressions

In [ ]:
abs(-5)

In [ ]:
abs(1 - 3)

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

In [ ]:
min(14, 15)

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

In [ ]:
round(123.456, ndigits=1)

In [ ]:
round?

In [ ]:
round(number=123.456)

In [ ]:
# The line below causes a type error because the wrong name was used.
# round(123.456, digs=1)

In [ ]:
# The line below causes an error if math has not been imported
# math.sqrt(2)

In [ ]:
import math

In [ ]:
math.sqrt(2)

## Tables ##

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
# The line below causes an error because Flavor is not a name.
# cones.select(Flavor, 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

### A more interesting table

In [ ]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')
nba

In [ ]:
point_guards = nba.where('position', 'PG').where('season', 2020)

In [ ]:
point_guards

In [ ]:
point_guards.drop('position')

In [ ]:
point_guards

In [ ]:
point_guards = point_guards.drop('rank', 'position', 'season')

In [ ]:
point_guards.show(10)

In [ ]:
point_guards.sort('salary').show(10)

In [ ]:
point_guards.sort('salary', descending=True).show(10)

In [ ]:
# The line below will cause a value error
nba.drop('position').where('position', 'PG')